
  .report-container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  .sidebar.collapsed ~ .report-content {
    margin-left: 75px;
    margin-right: 10px;
  }
  .report-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px;
    transition: margin-left 0.3s ease-in-out;
    .reportheader {
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        font-weight: bold;
      }
    }
  
    .report-filters {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
  
      .search-input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        flex: 1;
      }
  
      .filter-button {
        background-color: #4e8df5;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #357ae8;
        }
      }
    }
  
    .report-table {
      width: 100%;
      border-collapse: collapse;
  
      th {
        background-color: #f4f4f4;
        text-align: left;
        padding: 10px;
      }
  
      td {
        padding: 10px;
        border: 1px solid #ddd;
      }
  
      .download-button {
        padding: 5px 10px;
        background-color: #28a745;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  }
  